doc/tese-rodrigo/trafego-aero/simulador/mages_full_1_0_0a/mages/dtd/experiment.DTD


<!-- ************************************************* -->
<!-- Multi Agents Environment Simulator - GNU MAGES    -->
<!-- Simulation XML DTD v.1.0a		                       -->
<!-- ************************************************* -->

<!-- 

   Copyright (c)  2002  Joao Ricardo Bittencourt.
   Permission is granted to copy, distribute and/or modify this document
   under the terms of the GNU Free Documentation License, Version 1.1
   or any later version published by the Free Software Foundation;
   without Invariant Sections, without Front-Cover Texts, and without 
   the Back-Cover Texts. A copy of the license is included 
   in the section entitled "GNU Free Documentation License".
-->

  
<!ELEMENT experiment (conditions,replications)>	
<!ATTLIST experiment
	domain.name 	CDATA	#REQUIRED    
>

<!ELEMENT conditions (param+)>	

<!ELEMENT replications (run+)>	
<!ELEMENT run (param+)>	
<!ATTLIST run
	run.id 	CDATA	#REQUIRED   
	seed    CDATA   #IMPLIED
>



<!-- End Simualtion XML DTD v.1.0a -->
