doc/tese-rodrigo/trafego-aero/simulador/mages_full_1_0_0a/mages/dtd/map.DTD


<!-- ************************************************* -->
<!-- Multi Agents Environment Simulator - GNU MAGES    -->
<!-- Map XML DTD v.1.0a		                       -->
<!-- ************************************************* -->

<!-- 

   Copyright (c)  2001  Joao Ricardo Bittencourt.
   Permission is granted to copy, distribute and/or modify this document
   under the terms of the GNU Free Documentation License, Version 1.1
   or any later version published by the Free Software Foundation;
   without Invariant Sections, without Front-Cover Texts, and without 
   the Back-Cover Texts. A copy of the license is included 
   in the section entitled "GNU Free Documentation License".
-->


<!-- IMPORT "simobject.dtd"
<!ENTITY % simobject SYSTEM "simobject.dtd">
  %simobject-->

<!-- ELEMENTS -->

<!ELEMENT map (mapschema,layer+)>
<!ATTLIST map 
	name	CDATA	#REQUIRED
	width	CDATA	#REQUIRED
	height	CDATA	#REQUIRED
>

<!ELEMENT layer (icons*,simobj+)>
<!ATTLIST layer
	ly.id	ID	#REQUIRED
>

<!ELEMENT icons (icon+)>

<!-- End Map XML DTD v.1.0a -->