doc/tese-rodrigo/trafego-aero/simulador/mages_full_1_0_0a/mages/dtd/mapschema.DTD


<!-- ************************************************* -->
<!-- Multi Agents Environment Simulator - GNU MAGES    -->
<!-- Map Schema XML DTD v.1.0a                             -->
<!-- ************************************************* -->

<!-- 

   Copyright (c)  2001  Joao Ricardo Bittencourt.
   Permission is granted to copy, distribute and/or modify this document
   under the terms of the GNU Free Documentation License, Version 1.1
   or any later version published by the Free Software Foundation;
   without Invariant Sections, without Front-Cover Texts, and without 
   the Back-Cover Texts. A copy of the license is included 
   in the section entitled "GNU Free Documentation License".
-->


<!-- ELEMENTS -->

<!ELEMENT mapschema (mapsch.name,mapsch.validator*,mapsch.entry+)>

<!ELEMENT mapsch.name (#PCDATA)>

<!ELEMENT mapsch.validator (#PCDATA)>

<!ELEMENT mapsch.entry EMPTY>
<!ATTLIST mapsch.entry
	layer	ID	#REQUIRED
	type	(NML | RT) #REQUIRED
	path	CDATA #IMPLIED
	row		CDATA	#IMPLIED
	col		CDATA	#IMPLIED
        index   (false|true)        #IMPLIED
>

<!-- End Map Schema XML DTD v.1.0a -->
