doc/tese-rodrigo/trafego-aero/simulador/mages_full_1_0_0a/mages/dtd/tournament.DTD


<!-- ************************************************* -->
<!-- Multi Agents Environment Simulator - GNU MAGES    -->
<!-- Tournament XML DTD v.1.0a                         -->
<!-- ************************************************* -->

<!-- 

   Copyright (c)  2001  Joao Ricardo Bittencourt.
   Permission is granted to copy, distribute and/or modify this document
   under the terms of the GNU Free Documentation License, Version 1.1
   or any later version published by the Free Software Foundation;
   without Invariant Sections, without Front-Cover Texts, and without 
   the Back-Cover Texts. A copy of the license is included 
   in the section entitled "GNU Free Documentation License".
-->

  
<!-- ELEMENTS -->

<!ELEMENT tournament (tourn.name,tourn.description,mbt,mbp,mfl,mtm)> 
<!ELEMENT tourn.name (#PCDATA)>
<!ELEMENT tourn.description (#PCDATA)>
<!ELEMENT mbt (#PCDATA)>
<!ELEMENT mbp (#PCDATA)>
<!ELEMENT mfl (#PCDATA)>
<!ELEMENT mtm (#PCDATA)>


<!-- End Tournament XML DTD v.1.0a -->
