doc/tese-rodrigo/trafego-aero/simulador/mages_full_1_0_0a/mages/dtd/weapon.DTD


<!-- ************************************************* -->
<!-- Multi Agents Environment Simulator - GNU MAGES    -->
<!-- Weapon XML DTD v.1.0a		                       -->
<!-- ************************************************* -->

<!-- 

   Copyright (c)  2001  Joao Ricardo Bittencourt.
   Permission is granted to copy, distribute and/or modify this document
   under the terms of the GNU Free Documentation License, Version 1.1
   or any later version published by the Free Software Foundation;
   without Invariant Sections, without Front-Cover Texts, and without 
   the Back-Cover Texts. A copy of the license is included 
   in the section entitled "GNU Free Documentation License".
-->

  
<!-- ELEMENTS -->

<!ELEMENT weapon (wpn.name,dc,rof,amno,range)>	
<!ATTLIST weapon
        pts     CDATA           #REQUIRED
        class   (MELEE|RANGE)   #REQUIRED
        type    CDATA           #REQUIRED
        skill   CDATA           #REQUIRED
>

<!ELEMENT wpn.name (#PCDATA)>
<!ELEMENT dc (#PCDATA)>
<!ELEMENT rof (#PCDATA)>	
<!ELEMENT amno (#PCDATA)>	
<!ELEMENT range (#PCDATA)>	



<!-- End Weapon XML DTD v.1.0a -->
