doc/Gramatica XMLaw - gerada 04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Element"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Activations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Element"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assignee">
		<xs:complexType>
			<xs:attribute name="role-ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="role-instance" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Clock">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Activations"/>
				<xs:element ref="Deactivations"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tick-period" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Constraint">		<xs:complexType>			<xs:sequence>				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Creator">
		<xs:complexType>
			<xs:attribute name="role_ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Creators">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Creator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CriticalityAnalysis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Weight" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="Increases" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="Decreases" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Deactivations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Element" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Decrease">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Assignee" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="event-id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="event-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="role_deactivation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Decreases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Decrease" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Element">
		<xs:complexType>
			<xs:attribute name="ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="event-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="clock_timeout"/>
						<xs:enumeration value="norm_activation"/>
						<xs:enumeration value="transition_activation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entrance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Participant" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entry">
		<xs:complexType>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Increase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Assignee" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="event-id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="event-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="clock_activation"/>
						<xs:enumeration value="norm_activation"/>
						<xs:enumeration value="role_activation"/>
						<xs:enumeration value="transition_activation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Increases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Increase" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LawOrganization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Role" maxOccurs="unbounded"/>
				<xs:element ref="Scene" maxOccurs="unbounded"/>
				<xs:element ref="Action" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="Clock" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="Norm" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="abstract"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="extends" use="optional"/>
			<xs:attribute name="completes" use="optional"/>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Laws">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LawOrganization"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Content"/>
				<xs:element ref="Sender"/>
				<xs:element ref="Receivers"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="performative" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Norm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Assignee"/>
				<xs:element ref="Activations"/>
				<xs:element ref="Deactivations"/>
				<xs:element ref="Constraint"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="extends" use="optional"/>
			<xs:attribute name="completes" use="optional"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="obligation"/>
						<xs:enumeration value="permission"/>
						<xs:enumeration value="prohibition"/>
						<xs:enumeration value="abstract"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="norm_obligation_start_scene"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Participant">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="State" maxOccurs="unbounded">
                    <xs:complexType>                    	
                    	<xs:attribute name="ref">
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
                    </xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="role_ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="limit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Protocol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Messages"/>
				<xs:element ref="States"/>
				<xs:element ref="Transitions"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:complexType>
			<xs:attribute name="role-ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Receivers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Receiver" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Role">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="xi:include">
		<xs:complexType>
			<xs:attribute name="href" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Scene">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CriticalityAnalysis" minOccurs="0"/>
				<xs:element ref="Creators"/>
				<xs:element ref="Protocol"/>
				<xs:element ref="Entrance"/>
				<xs:element ref="Clock"/>
				<xs:element ref="Norm"/>
				<xs:element ref="xi:include" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="type" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="abstract"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="extends" use="optional"/>
			<xs:attribute name="completes" use="optional"/>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="time-to-live" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="infinity"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sender">
		<xs:complexType>
			<xs:attribute name="role-ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="State">
		<xs:complexType>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="execution"/>
						<xs:enumeration value="failure"/>
						<xs:enumeration value="initial"/>
						<xs:enumeration value="success"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ref">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="States">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="State" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Constraint" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="from" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="to" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="event-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="message_arrival"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transition" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Weight">
		<xs:complexType>
			<xs:attribute name="ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="message"/>
						<xs:enumeration value="role"/>
						<xs:enumeration value="clock"/>
						<xs:enumeration value="norm"/>
						<xs:enumeration value="transition"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
